Source: libdisplaycore-image-bmpfile
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdisplaycore-image-bmpfile
Section: main
Architecture: all
XBSC-Group: DisplayCore
XBSC-Subgroup: Image
Depends: libdisplaycore-core, libsd-chipkit
Provides: BMPFile.h
Description: BMPFile library
 Load and display BMP files from SD card



